*.bin filter=lfs diff=lfs merge=lfs -text
*.sqlite3 filter=lfs diff=lfs merge=lfs -text
chroma_rag_db/chroma.sqlite3 filter=lfs diff=lfs merge=lfs -text
chroma_cache_db/chroma.sqlite3 filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
